## Charakteristika dat

[←](3B_aktivity.md)  [→ další sekce](3C_analyza.md)

Při charakteristice dat se soustředíme na následující sadu činností:

- 
- Klasifikicace[^dta_cls]


### Ukázky na konkrétních příkladech

Na prvním příkladu si ukážeme jakým zpsůobem mohou být záznamy validovány a identifikována jejich přesnost.

In [30]:
import pandas as pd

df = pd.read_csv('../DATA/FakeNameGenerator.com_93dd768d.zip', compression='zip')

df.head(5)

,Number,Gender,NameSet,Title,GivenName,MiddleInitial,Surname,StreetAddress,City,State,...,Vehicle,Domain,BloodType,Pounds,Kilograms,FeetInches,Centimeters,GUID,Latitude,Longitude
0,1,female,Czech,Ms.,Nikola,J,Pátková,Rvačov 549,Roudnice nad Labem,US,...,2000 BMW 320,ChemicalPaper.cz,O+,152.5,69.3,"5' 1""",155,51f92586-6f42-4ca7-90eb-3a71099457b7,50.360150,14.205878
1,2,female,Czech,Mrs.,Jaroslava,F,Tomková,Nová 838,Strakonice 1,JC,...,2008 Holden Barina,HolisticAid.cz,O+,112.9,51.3,"5' 8""",172,b08ddb9c-1e22-4ac3-81e1-d7baca9c76f6,49.333683,13.950068
2,3,male,Czech,Mr.,Aleš,M,Hrdina,U Křížku 705,Habartice u Frýdlantu,LI,...,2005 Mitsubishi Endeavor,HomelandInfo.cz,B+,188.5,85.7,"5' 10""",177,bfc4db4e-b0a7-4375-b87d-f8d9e46cd8f9,51.036580,15.019382
3,4,male,Czech,Mr.,Josef,P,Budiš,K Pazderně 467,Príbram 1,ST,...,1996 Bentley Brooklands,HiTitle.cz,B+,164.6,74.8,"6' 1""",186,2bb8e096-e205-440a-9539-d36cdcb0d44c,49.684518,13.969338
4,5,female,Czech,Ms.,Naděžda,P,Oulehlová,Pod Malsičkou 1374,Volyne,JC,...,2015 GMC Yukon XL,ScriptTip.cz,O+,114.6,52.1,"5' 3""",161,f6f3da7c-9462-4755-8e70-fad475377d84,49.067682,13.918875

V dalším příkladu jsou pak zaznamenány příklady hodnot, které mohou nabírat různé typy polí a také ty, které nejsou správné.

---

Poznámky:

[^dta_cls]: anglicky Data Classification, více viz [https://en.wikipedia.org/wiki/Data_classification_(business_intelligence)](https://en.wikipedia.org/wiki/Data_classification_(business_intelligence))